<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 24px;
  }

  .forgot-password-container {
    margin: 40px 0;
    display: block;
  }

  .forgot-password-container a {
    padding: 18px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #2B63FF;
    text-decoration: none;
  }
</style>

<div class="message-content">
  <p class="title">Olá, {{name}}!</p>

  <p>Parece que uma troca de senha para sua conta foi solicitada</p>
  <p>Se foi você, então clique no botão abaixo para escolher uma nova senha:</p>

  <p class="forgot-password-container">
    <a href="{{link}}" rel=”noopener” target=”_blank”>
      Alterar minha senha
    </a>
  </p>

  <p>Se não foi você, então descarte esse email!</p>

  <p>
    Obrigado! <br />
    <strong>Equipe DevCalendar</strong>
  </p>
</div>
